body{
    margin: 0;
    background-color:rgb(241, 128, 252);
    font-family: 'Zilla Slab', serif;
}
body, html{
    height: 100%;
}
#barra{
    font: 15pt century;
    background-color: rgb(130, 42, 165); /* rgb(144, 26, 223) */
    color: seashell;
    width: 100%;
    height: 70px;
    line-height: 200px;
    text-align: center;
    position: fixed;
}
#logo{
    width: 55px;
    margin-left: 20px;
    margin-top: 7.5px;
    float: left;
    border-radius: 50%;
}
textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.container {
    display: flex;
    justify-content: right;
    align-items: right;
    align-content: center;
    flex-wrap: wrap;
    width: 10vw;
    margin: 0 auto;
    min-height: 89.4vh;
    height: 90px;
    flex-direction: column;
    margin-top: 35px;
    line-height: 90px;
    z-index: 2;
}
.btn {
    flex: 1 1 auto;
    margin: 0;
    padding: 15px;
    height: 50px;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    border-radius: 0;
    background-image: linear-gradient(to right,  #ea00ff 5%, rgb(172, 62, 245) 51%, rgb(241, 128, 252) 100%);
    font-family: 'Zilla Slab', serif;
}
.btn:hover {
    background-position: right center; /* change the direction of the change here */
} 
section {
    display: flex;
    float: left;
    position: fixed;
}
#contatos{
    width: 90%;
    height: 80%;
    margin-top: 70px;
    margin-left: 137px;
    background-color: rgb(130, 42, 165)rgb(241, 128, 252);
    position: absolute;
}
#nomes{
    width: 3000px;
    height: 90%;
    margin-top: 70px;
    margin-left: 137px;
    background-color: rgb(130, 42, 165)rgb(241, 128, 252);
    position: absolute;
}
#no_chat{
    margin: 0;
    font-family: 'Zilla Slab', serif;
    font-size: 40px;
    font-weight: bold;
    color: rgb(167, 0, 201);
    padding-left: 15px;
    padding-top: 2px;
    background-color:rgb(226, 226, 226);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.linha{
    border-bottom: 1px solid white; 
    height: 55px;
    background-color:rgb(226, 226, 226);
}

.pessoas{
    margin: -10px;
}
.pessoa{
    color: black;
    font-size: 15px;
    float: center;
    font-weight: bolder;
    font-family: 'Zilla Slab', serif;
}
#perfil{
    position: relative;
    background-color:rgb(226, 226, 226);
    margin-top: 130px;
    margin-left: 75%;
    width: 17%;
border-radius:45px;

}
#nome{
    height: 60px;
}
#confi{
    position: fixed;
    margin-top: 10px;
    margin-left: 900px;
}

#pedido{
    font-size: 24px;
    font-family: 'Zilla Slab', serif;
    position: fixed;
    margin-top: 170px;
    z-index: 3;
    color: white;
}
#help{
	font:normal 60px arial;
	text-align: center;
	right: 565px;
position:absolute;
    top:0px;
	
}
#text{
font:normal 60px arial;
right: 1250px;
position:absolute;
top:1px;}

#area
{
  position:relative;
  left:407px;
  width:300px;
  height:100px;
  display:block;
}

#formulario{
    font-family: 'Zilla Slab', serif;
    font-size: 35px;
    line-height: 35px;
    background-color: rgb(255, 255, 255);
    position:fixed;
    width:310px;
    height:100px;
    border-radius:25px;
    left: 265px;
    top: 150px;
}
.msg{
    padding-top: 10px;
    padding-left: 10px;
    position:fixed;
    width:304px;
    height:150px;
    border-radius:17px;
    resize: none;
    border: none;
    text-align: justify;
}

::-webkit-input-placeholder {
    color: rgb(0, 0, 0);
    padding-left: 5px;
 }
#fieldset
{top:100px;
position:absolute;
  background-color:#ffffff;
  width:570px;
  height:500px;
  border-radius: 35px;;
}
#legend
{
  font-weight:bold;
  font-family: 'Zilla Slab', serif;
}


#lg{
	position:absolute;
	top: 73px;
	height:120px;
	width: 140px;
	border-radius:1px;
	
}

#ajuda{
    position: fixed;
	z-index: 1;
    flex: 1 1 auto;
    margin-left: 1220px;
    margin-top: 10px;
    width: 120px;
    height: 50px;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    border-radius: 8px;
    background-image: linear-gradient(to right,  rgb(255, 0, 0) 5%,   #ca0202 51%, rgb(255, 0, 0) 100%);
    font-family: 'Zilla Slab', serif;
    font-size: 20px;
    border: none;
    box-shadow:2px 2px 2px rgb(255, 255, 255);
}
#ajuda:hover {
	z-index:1;
    background-position: right center; /* change the direction of the change here */
    transform: scale(1.08);
    transition: 0.5s;
}
#logotipo_box{
position: fixed;
margin-top: -10px;
z-index:1;
}
#logotipo{
width:100px;
padding-left: 90px;}
#auxilio {
    display: none;
    position: fixed;
    right: 147px;
    top: 8px;
    background-color: rgb(250, 61, 61);
    color: white;
    z-index: 1;
    border-radius: 10px;
    width: 240px;
    height: 75px;
    line-height: 30px;
    font-size: 20px;
    font-family: 'Zilla Slab', serif;
    box-shadow:2px 2px 8px purple;
   }
#ajudar{
    text-align: center;
    width: 100%;
}
.opc{
    transition: background-color 0.5s;
}
.opc:hover{
    background-color:rgba(150, 0, 0, 0.466);
    border-radius: 10px;
    transform: scale(1.1);
    transition: 0.5s;
}

#botao {
    position: fixed;
    color: rgb(255, 255, 255);
}

#contato {
    width: 380px;
    font-size: 25px;
    cursor: pointer;
    height: 50px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right,  #00ffc8 5%, rgb(62, 193, 245) 21%, rgb(219, 40, 255) 100%);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
    transition: 0.5s;
    top: 130px;
    position: fixed;
    margin-top: 450px;
    left: 230px;
    color: white;
    font-family: 'Zilla Slab', serif;
}

#contato:hover {
    background-position: right center;
    transform: scale(1.06);
    transition: 0.5s;
}

#contato:focus {
    outline: none;
}


#top{
	top:160px;
	position:absolute;
	left: 390px;
}
#bottom{
	top: 240px;
	position:absolute;
	left: 480px;
}
.at {
    font: normal 18pt century;
    top: 200px;
	position:absolute;
	right: 120px;
}

 
#att{
	top: 20px;
	position:absolute;
	right: 100px;
font: normal 18pt century;}

 
	
/*cor dos links*/
a:link {

    text-decoration: none;}
    
a:visited {
    
    color: #F5FFFA;}
    
a:active {
    
    color: #F5FFFA;}
#texto{
    color: white;
    padding-left: 10px;
    text-shadow: 2px 2px 3px rgb(113, 13, 133);
}
.justificado{
    font-family: 'Zilla Slab', serif;
    width: 700px;
    height: 300px;
    position: fixed;
    left: 610px;
    z-index: 1;
    text-align: justify;
}
.centralizada{
    font-family: 'Zilla Slab', serif;
    width: 700px;
    height: 300px;
    position: fixed;
    left: 610px;
    z-index: 1;
    text-align: center;
}
#um{
    top: 150px;
}
#dois{
    top: 210px;
}
#tres{
    top: 240px;
}
#quatro{
    top: 270px;
}
#cartaz{
    position: fixed;
    top: 120px;
}

#fundo{
    width: 570px;
}
#duvidas{
    position: absolute;
    top: 9px;
    flex: 1 1 auto;
    margin-left: 1152px;
    width: 50px;
    height: 50px;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    border-radius: 50px;
    background-image: linear-gradient(to right,  rgb(216, 106, 253) 5%,  rgb(175, 145, 185) 100%);
    font-family: 'Zilla Slab', serif;
    font-size: 30px;
    border: 0;
    box-shadow:2px 2px 2px rgb(233, 190, 247);
}
#duvidas:hover {
    background-position: right center; /* change the direction of the change here */
    transform: scale(1.08);
    transition: 0.5s;
}  
#duvida {
    display: none;
    position: fixed;
    right: 70px;
    top: 70px;
    background-color: rgba(255, 255, 255, 0.74);
    z-index: 3;
    border-radius: 10px;
    width: 240px;
    height: 140px;
    font-family: 'Zilla Slab', serif;
    box-shadow:2px 2px 8px purple;
    }
#tabela{
    text-align: center;
    width: 100%;
    color: rgb(0, 0, 0);
    height: 100%;
    font-size: 18px;
}
.opcoes{
    transition: background-color 0.5s;
}
.opcoes:hover{
    background-color:rgba(212, 0, 255, 0.466);
    color: white;
    border-radius: 10px;
    transform: scale(1.1);
    transition: 0.5s;
}
.opcoes a:visited{
    color: black;
}